.progUserPhoto
    img(src="/images/noname.svg")
.progUserTitleWr
    .progUserItemTitle Жуков
        span.initial &nbsp;М.А.
        .userIO
            .userI Михаил
            .userO Александрович
    .progUserItemPosition Генеральный Директор ООО «Хэдхантер» (www.hh.ru)
