.progUserPhoto
    img(src="/images/kahrumanova.png")
.progUserTitleWr
    .progUserItemTitle Кахруманова
        span.initial &nbsp;З.Н.
        .userIO
            .userI Герман
            .userO Александрович
    .progUserItemPosition Директор Департамента информационных технологий <span class="break"> </span>Банка России
