.progUserPhoto
    img(src="https://front.sber.link/vcbr/images/kahrumanova.png")
.progUserTitleWr
    .progUserItemTitle Кахруманова
        span.initial &nbsp;З.Н.
        .userIO
            .userI Зульфия
            .userO Нукербековна
    .progUserItemPosition Директор Департамента информационных технологий <span class="desktopBreak break"> </span>Банка России
