.progUserPhoto
    img(src="/vcbr/images/kazarin.png")
.progUserTitleWr
    .progUserItemTitle Казарин
        span.initial &nbsp;В.С.
        .userIO
            .userI Герман
            .userO Александрович
    .progUserItemPosition Директор Департамента проектов и процессов <span class="break"> </span> Банка России
