.progUserPhoto
    img(src="/vcbr/images/kazarin.png")
.progUserTitleWr
    .progUserItemTitle Казарин
        span.initial &nbsp;В.С.
        .userIO
            .userI Валерий
            .userO Сергеевич
    .progUserItemPosition Директор Департамента проектов и процессов <span class="desktopBreak break"> </span> Банка России
