.progUserPhoto
    img(src="/images/mamuta.png")
.progUserTitleWr
    .progUserItemTitle Мамута
        span.initial &nbsp;М.В.
        .userIO
            .userI Михаил
            .userO Валерьевич
    .progUserItemPosition Руководитель СЗППиОДФУ
