.progUserPhoto
    img(src="/images/riklina.png")
.progUserTitleWr
    .progUserItemTitle Рыклина
        span.initial &nbsp;М.В.
        .userIO
            .userI Марина
            .userO Владимировна
    .progUserItemPosition Директор департамента по связям с общественностью
