.progUserPhoto
    img(src="/images/skorobogatova.png")
.progUserTitleWr
    .progUserItemTitle Скоробогатова
        span.initial &nbsp;О.Н.
        .userIO
            .userI Ольга
            .userO Николаевна
    .progUserItemPosition Первый Заместитель Председателя Банка России
