.progUserPhoto
    img(src="/images/noname.svg")
.progUserTitleWr
    .progUserItemTitle Терентьева
        span.initial &nbsp;Т.А.
        .userIO
            .userI Татьяна
            .userO Анатольевна
    .progUserItemPosition Заместитель Генерального Директора по Персоналу <span class="break"> </span> ГК «Росатом»
