.progUserPhoto
    img(src="/images/tulin.png")
.progUserTitleWr
    .progUserItemTitle Тулин
        span.initial &nbsp;Д.В.
        .userIO
            .userI Дмитрий
            .userO Владиславович
    .progUserItemPosition Первый заместитель Председателя <span class="break"> </span> Банка России
