.progUserPhoto
    img(src="/images/udaeva.png")
.progUserTitleWr
    .progUserItemTitle Юдаева
        span.initial &nbsp;К.В.
        .userIO
            .userI Ксения
            .userO Валентиновна
    .progUserItemPosition Первый заместитель Председателя <span class="break"> </span> Банка России
