.progUserPhoto
    img(src="/images/velhosh.png")
.progUserTitleWr
    .progUserItemTitle Верхошинский
        span.initial &nbsp;О.В.
        .userIO
            .userI Владимир
            .userO Вячеславович
    .progUserItemPosition главный управляющий директор <span class="break"> </span> АО&nbsp;«Альфа-Банк»
