.progUserPhoto
    img(src="/images/zabotkin.png")
.progUserTitleWr
    .progUserItemTitle Заботкин
        span.initial &nbsp;А.Б.
        .userIO
            .userI Алексей
            .userO Борисович
    .progUserItemPosition Заместитель Председателя Банка России
