.firstPage
    .tower
        .firstPageWr
            .firstPageL
                .firstPageLTitle Команда<br>Диалог<br>Развитие
                .firstPageLsubtitle Общероссийское совещание <br>c руководителями Банка России
                .firstPageLdate 4 октября 2022 г.


            .firstPageR
                <svg width="656" height="667" viewBox="0 0 656 667" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.91016 323.269C4.91016 323.269 49.1378 207.158 108.895 186.222C168.653 165.285 231.011 201.153 272.606 186.222C314.2 171.29 292.869 110.499 346.728 92.3681C400.587 74.2374 441.115 111.565 480.576 92.3681C520.037 73.1708 531.047 23.9109 622.956 7.04688V400.591L4.91016 474.181V323.269Z" fill="url(#paint0_linear_1012_13576)"/>
                <path d="M4.91016 323.269C4.91016 323.269 49.1378 207.158 108.895 186.222C168.653 165.285 231.011 201.153 272.606 186.222C314.2 171.29 292.869 110.499 346.728 92.3681C400.587 74.2374 441.115 111.565 480.576 92.3681C520.037 73.1708 531.047 23.9109 622.956 7.04688" stroke="url(#paint1_linear_1012_13576)" stroke-width="2"/>
                <rect x="4.91211" y="323.258" width="2.13303" height="186.151" fill="url(#paint2_linear_1012_13576)"/>
                <rect x="107.355" y="187.07" width="2.13303" height="198.385" fill="url(#paint3_linear_1012_13576)"/>
                <rect x="269.693" y="188.141" width="2.13303" height="198.385" fill="url(#paint4_linear_1012_13576)"/>
                <rect x="471.633" y="97.3359" width="2.13303" height="198.385" fill="url(#paint5_linear_1012_13576)"/>
                <rect x="350.943" y="89.8672" width="2.13303" height="198.385" fill="url(#paint6_linear_1012_13576)"/>
                <ellipse cx="6.28099" cy="322.878" rx="5.58763" ry="7.08106" fill="#CCEAF4"/>
                <ellipse cx="108.424" cy="187.073" rx="5.58763" ry="7.08106" fill="#CCEAF4"/>
                <ellipse cx="270.761" cy="187.44" rx="5.58763" ry="7.08106" fill="#CCEAF4"/>
                <ellipse cx="352.011" cy="90.2529" rx="5.58763" ry="7.08106" fill="#CCEAF4"/>
                <ellipse cx="472.701" cy="96.9482" rx="5.58763" ry="7.08106" fill="#CCEAF4"/>
                <ellipse cx="621.99" cy="7.11231" rx="5.58763" ry="7.08106" fill="#CCEAF4"/>
                <path d="M622.996 318.372L427.937 430.99L234.288 319.188L429.349 206.57L622.996 318.372Z" fill="#F5F5F5"/>
                <path d="M427.937 516.773V430.993L622.996 318.375V404.155L427.937 516.773Z" fill="#B3B3B3"/>
                <path d="M234.289 319.188L427.938 430.989V516.769L234.289 404.967V319.188Z" fill="#E8E8E8"/>
                <path d="M419.375 228.013L381.72 249.754L344.336 228.17L381.991 206.43L419.375 228.013Z" fill="#3BD4FF"/>
                <path d="M381.72 311.481V249.757L419.375 228.016V289.741L381.72 311.481Z" fill="#0092BA"/>
                <path d="M344.335 228.172L381.719 249.756V311.481L344.335 289.898V228.172Z" fill="#00B6E8"/>
                <path d="M466.406 223.763L428.75 245.504L391.366 223.921L429.023 202.18L466.406 223.763Z" fill="#1CC1FF"/>
                <path d="M428.75 338.683V245.507L466.406 223.766V316.942L428.75 338.683Z" fill="#0088BB"/>
                <path d="M391.366 223.922L428.75 245.505V338.681L391.366 317.097V223.922Z" fill="#00A3E0"/>
                <path d="M513.854 184.692L476.198 206.433L438.815 184.849L476.471 163.109L513.854 184.692Z" fill="#0E8ABA"/>
                <path d="M476.198 366.015V206.436L513.854 184.695V344.274L476.198 366.015Z" fill="#09688A"/>
                <path d="M438.814 184.852L476.197 206.436V366.014L438.814 344.43V184.852Z" fill="#0C79A3"/>
                <path d="M407.52 458.674L205.459 575.334L4.85981 459.519L206.921 342.859L407.52 458.674Z" fill="#F5F5F5"/>
                <path d="M205.262 625.13L205.459 575.332L407.52 458.672L407.323 508.47L205.262 625.13Z" fill="#B3B3B3"/>
                <path d="M4.8583 459.516L205.457 575.331L205.261 625.129L4.66204 509.313L4.8583 459.516Z" fill="#E8E8E8"/>
                <path d="M296.107 453.587V495.693C292.285 498.784 288.22 501.564 283.954 504.006C240.691 528.992 170.792 529.131 127.838 504.33C112.985 495.755 103.299 485.329 98.7797 474.301C96.8258 469.629 95.8091 464.62 95.7876 459.556V399.482L98.7797 401.394L123.519 417.219C125.092 416.185 126.696 415.183 128.408 414.196C171.393 389.364 240.675 389.071 283.692 413.394L290.863 446.323L296.107 453.587Z" fill="#E0E0E0"/>
                <path d="M296.115 453.584C292.293 456.675 288.228 459.455 283.962 461.897C240.699 486.868 170.8 487.022 127.845 462.221C112.977 453.646 103.291 443.204 98.7722 432.177L206.181 416.984L296.115 453.584Z" fill="white"/>
                <path d="M316.564 406.164V459.523H316.549C316.241 472.201 309.439 484.864 296.113 495.691V453.585L290.869 446.321L283.697 413.392C283.975 413.546 284.252 413.716 284.53 413.87C286.412 414.949 288.185 416.075 289.897 417.217L316.564 406.164Z" fill="#0088BB"/>
                <path d="M206.181 369.258V416.983L296.115 453.584V405.857L206.181 369.258Z" fill="#00A3E0"/>
                <path d="M296.115 443.195L206.181 406.595L178.959 344.932C215.559 339.426 255.999 344.886 284.532 361.358C322.998 383.568 326.823 418.255 296.115 443.195Z" fill="#1CC1FF"/>
                <path d="M98.7793 401.389V474.296C96.8254 469.624 95.8087 464.614 95.7871 459.551V399.477L98.7793 401.389Z" fill="#0C79A3"/>
                <path d="M206.182 399.479L98.7726 414.671C90.5673 394.682 99.3433 372.765 125.054 356.602L206.182 399.479Z" fill="#0E8ABA"/>
                <path d="M206.182 386.522L125.054 343.645C126.134 342.966 127.26 342.288 128.401 341.625C142.93 333.234 160.451 327.651 178.959 324.859L206.182 386.522Z" fill="#3BD4FF"/>
                <path d="M206.182 386.526V399.475L125.054 356.606V343.648L206.182 386.526Z" fill="#00B6E8"/>
                <path d="M98.7729 414.661V432.173L206.182 416.981V399.469L98.7729 414.661Z" fill="#09688A"/>
                <path d="M655.084 530.221L632.672 543.02L480.672 630.272L307.897 530.007L482.48 429.961L576.448 484.541L655.084 530.221Z" fill="#F5F5F5"/>
                <path d="M480.378 666.1L480.67 630.261L655.062 530.211L654.77 566.05L480.378 666.1Z" fill="#B3B3B3"/>
                <path d="M307.896 530.008L480.676 630.281L480.384 666.12L307.8 565.847L307.896 530.008Z" fill="#E8E8E8"/>
                <path d="M509.084 399.791V387.366H498.664C488.193 382.406 473.004 382.412 462.422 387.366H451.691V399.791H451.713C451.707 399.895 451.725 400 451.722 400.104H451.691V412.529H451.713C451.707 412.633 451.725 412.738 451.722 412.842H451.691V425.267H451.713C451.707 425.371 451.725 425.476 451.722 425.58H451.691V438.005H451.713C451.707 438.109 451.725 438.214 451.722 438.318H451.691V450.743H451.713C451.707 450.847 451.725 450.951 451.722 451.056H451.691V463.48H451.713C451.707 463.585 451.725 463.689 451.722 463.794H451.691V476.218H451.713C451.707 476.323 451.725 476.427 451.722 476.532H451.691V488.956H451.713C451.707 489.061 451.725 489.165 451.722 489.27H451.691V501.694H451.713C451.707 501.799 451.725 501.903 451.722 502.008H451.691V514.432H451.713C451.707 514.537 451.725 514.641 451.722 514.746H451.691V527.17H451.713C451.46 531.576 454.203 536.017 460.005 539.367C471.177 545.817 489.357 545.779 500.611 539.282C506.403 535.938 509.208 531.536 509.066 527.17H509.084V514.746H509.05C509.05 514.641 509.07 514.536 509.066 514.432H509.084V502.008H509.05C509.05 501.903 509.07 501.799 509.066 501.694H509.084V489.27H509.05C509.05 489.165 509.07 489.061 509.066 488.956H509.084V476.532H509.05C509.05 476.427 509.07 476.323 509.066 476.219H509.084V463.794H509.05C509.05 463.689 509.07 463.585 509.066 463.48H509.084V451.056H509.05C509.05 450.952 509.07 450.847 509.066 450.743H509.084V438.318H509.05C509.05 438.214 509.07 438.109 509.066 438.005H509.084V425.58H509.05C509.05 425.476 509.07 425.371 509.066 425.267H509.084V412.842H509.05C509.05 412.738 509.07 412.633 509.066 412.529H509.084V400.104H509.05C509.05 400 509.07 399.895 509.066 399.791L509.084 399.791Z" fill="#00A3E0"/>
                <path d="M451.67 387.668C451.612 378.513 464.42 371.011 480.278 370.911C496.136 370.811 509.037 378.152 509.095 387.306C509.153 396.461 496.344 403.964 480.487 404.063C464.629 404.163 451.727 396.823 451.67 387.668Z" fill="#00B9FF"/>
                <path d="M559.912 456.564V444.14H549.492C539.021 439.179 523.832 439.186 513.251 444.14H502.519V456.564H502.541C502.535 456.669 502.553 456.773 502.55 456.878H502.519V469.302H502.541C502.535 469.407 502.553 469.511 502.55 469.616H502.519V482.04H502.541C502.535 482.145 502.553 482.249 502.55 482.354H502.519V494.778H502.541C502.535 494.883 502.553 494.987 502.55 495.091H502.519V507.516H502.541C502.535 507.621 502.553 507.725 502.55 507.829H502.519V520.254H502.541C502.535 520.358 502.553 520.463 502.55 520.567H502.519V532.992H502.541C502.535 533.096 502.553 533.201 502.55 533.305H502.519V545.73H502.541C502.288 550.135 505.031 554.576 510.834 557.926C522.006 564.377 540.186 564.338 551.439 557.841C557.231 554.497 560.036 550.095 559.894 545.73H559.912V533.305H559.878C559.878 533.201 559.898 533.096 559.894 532.992H559.912V520.567H559.878C559.878 520.463 559.898 520.358 559.894 520.254H559.912V507.83H559.878C559.878 507.725 559.898 507.62 559.894 507.516H559.912V495.092H559.878C559.878 494.987 559.898 494.883 559.894 494.778H559.912V482.354H559.878C559.878 482.249 559.898 482.145 559.894 482.04H559.912V469.616H559.878C559.878 469.511 559.898 469.407 559.894 469.302H559.912V456.878H559.878C559.878 456.773 559.898 456.669 559.894 456.564L559.912 456.564Z" fill="#09688A"/>
                <path d="M502.498 444.441C502.44 435.286 515.249 427.784 531.106 427.684C546.964 427.584 559.865 434.925 559.923 444.08C559.981 453.235 547.172 460.737 531.315 460.837C515.457 460.937 502.555 453.596 502.498 444.441Z" fill="#0E8ABA"/>
                <path d="M442.088 496.806V484.382H431.669C421.198 479.421 406.009 479.427 395.427 484.382H384.696V496.806H384.718C384.713 496.91 384.73 497.015 384.727 497.119H384.696V509.543H384.718C384.713 509.648 384.73 509.752 384.727 509.857H384.696V522.281H384.718C384.713 522.385 384.73 522.49 384.727 522.594H384.696V535.019H384.718C384.713 535.123 384.73 535.227 384.727 535.332H384.696V547.756H384.718C384.465 552.162 387.209 556.603 393.01 559.953C404.183 566.403 422.362 566.364 433.616 559.867C439.407 556.524 442.212 552.122 442.07 547.756H442.088V535.332H442.054C442.054 535.227 442.074 535.123 442.07 535.019H442.088V522.594H442.054C442.054 522.49 442.074 522.385 442.07 522.281H442.088V509.857H442.054C442.054 509.752 442.074 509.648 442.07 509.543H442.088V497.119H442.054C442.054 497.014 442.074 496.91 442.07 496.806H442.088Z" fill="#00BBEE"/>
                <path d="M384.675 484.675C384.617 475.521 397.425 468.019 413.283 467.919C429.14 467.819 442.041 475.159 442.099 484.314C442.156 493.469 429.348 500.971 413.491 501.071C397.634 501.171 384.732 493.83 384.675 484.675Z" fill="#00C8FF"/>
                <defs>
                <linearGradient id="paint0_linear_1012_13576" x1="622.955" y1="322.258" x2="76.8999" y2="-275.58" gradientUnits="userSpaceOnUse">
                <stop offset="0.107053" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white"/>
                </linearGradient>
                <linearGradient id="paint1_linear_1012_13576" x1="-281.859" y1="446.595" x2="709.429" y2="-47.4075" gradientUnits="userSpaceOnUse">
                <stop offset="0.143512" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white" stop-opacity="0.8"/>
                </linearGradient>
                <linearGradient id="paint2_linear_1012_13576" x1="7.04307" y1="627.547" x2="-1.43924" y2="627.403" gradientUnits="userSpaceOnUse">
                <stop offset="0.107053" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white" stop-opacity="0.5"/>
                </linearGradient>
                <linearGradient id="paint3_linear_1012_13576" x1="109.486" y1="511.358" x2="101.004" y2="511.223" gradientUnits="userSpaceOnUse">
                <stop offset="0.107053" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white" stop-opacity="0.5"/>
                </linearGradient>
                <linearGradient id="paint4_linear_1012_13576" x1="271.824" y1="512.428" x2="263.342" y2="512.293" gradientUnits="userSpaceOnUse">
                <stop offset="0.107053" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white" stop-opacity="0.5"/>
                </linearGradient>
                <linearGradient id="paint5_linear_1012_13576" x1="473.764" y1="421.624" x2="465.281" y2="421.488" gradientUnits="userSpaceOnUse">
                <stop offset="0.107053" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white" stop-opacity="0.5"/>
                </linearGradient>
                <linearGradient id="paint6_linear_1012_13576" x1="353.074" y1="414.155" x2="344.592" y2="414.019" gradientUnits="userSpaceOnUse">
                <stop offset="0.107053" stop-color="#00BBEE" stop-opacity="0"/>
                <stop offset="1" stop-color="white" stop-opacity="0.5"/>
                </linearGradient>
                </defs>
                </svg>


