.prog
    .tower
        .progTitleWr
            .progTitle ПРОГРАММА
            .progBtn Скачать программу
        .progRow
            .progCell(style="flex: 50%;")
                .progTime 9:30 - 10:50
                .progItemFormat Панельная дискуссия
                .progItemTitle ПРИОРИТЕТНЫЕ ЗАДАЧИ И ПРОЕКТЫ БАНКА РОССИИ 2022
                .progUserTitle Модератор
                .progUserWr
                    .progUserPhoto
                        img(src="/images/skorobogatova.png")
                    .progUserTitleWr
                        .progUserItemTitle Скоробогатова О.Н.
                        .progUserItemPosition Первый Заместитель Председателя Банка России
                .progUserTitle Участники
                .progUserWr
                    .progUserPhoto
                        img(src="/images/tulin.png")
                    .progUserTitleWr
                        .progUserItemTitle Тулин Д.В.
                        .progUserItemPosition Первый Заместитель Председателя Банка России
                .progUserWr
                    .progUserPhoto
                        img(src="/images/udaeva.png")
                    .progUserTitleWr
                        .progUserItemTitle Юдаева К.В.
                        .progUserItemPosition Первый Заместитель Председателя Банка России
                .progUserWr
                    .progUserPhoto
                        img(src="/images/chist.png")
                    .progUserTitleWr
                        .progUserItemTitle Чистюхин В.В.
                        .progUserItemPosition Первый Заместитель Председателя Банка России
                .progUserWr
                    .progUserPhoto
                        img(src="/images/gabunia.png")
                    .progUserTitleWr
                        .progUserItemTitle Габуния Ф.Г.
                        .progUserItemPosition Заместитель Председателя Банка России


            .progCell(style="flex: 50%;")
                .progTime 9:30 - 10:50
                .progItemFormat Панельная дискуссия
                .progItemTitle ПРИОРИТЕТНЫЕ ЗАДАЧИ И ПРОЕКТЫ БАНКА РОССИИ 2022

