.spk#spk
    .tower
        .progTitleWr
            .progTitle СПИКЕРЫ
        .spkBox
            .spkRow
                .spkItem
                    include spk/vester

                .spkItem
                    include spk/zabotkin
                .spkItem
                    include spk/zubarev
                .spkItem
                    include spk/kazarin
                .spkItem
                    include spk/kahrumanova
                .spkItem
                    include spk/nabiulina
                .spkItem
                    include spk/skor
                .spkItem
                    include spk/tulin
                .spkItem
                    include spk/chist
                .spkItem
                    include spk/udaeva

                .spkItem &nbsp;



