extends layout

block head

  <link href="/javascripts/video-js.css" rel="stylesheet" />
block content
  .videoWrapper
    video#my-video(style="width:100%" class="video-js vjs-big-play-centered" data-setup="{}" controls preload="auto" width="1024" height="720" poster="https://front.sber.link/vcbr/images/poster.png" playsinline)
      source( src="https://hls-fabrikanews.cdnvideo.ru/fabrikanews4/1ru/playlist.m3u8" type="application/x-mpegURL")

  script(src="/javascripts/video.js")
  script.
    var player=videojs('my-video');
    player.on('error', function (e, S) {
      console.log("player.error",e,S);
      setTimeout(()=>{
        player.src({type: 'application/x-mpegURL', src: 'https://hls-fabrikanews.cdnvideo.ru/fabrikanews4/1ru/playlist.m3u8'});
        player.play();
      },1000)

    });


