extends layout

block content
  <link href="/javascripts/video-js.css" rel="stylesheet" />
  .content
    .Wr
      include elems/header
      include elems/house
      include elems/prog
      include elems/quote
      include elems/spk
      include elems/footer
  script(src="/javascripts/video.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/moment.min.js")
  script.
    var user=!{JSON.stringify(user)}
  script(src="/javascripts/mainScript.js")

