extends layout

block content
    .content
        .lTower
            .LWr
                .lBox
                    .lBoxTitle Регистрация
                    .lBoxItem
                        input.lBoxInput#f(type="text" placeholder="Фамилия"  maxlength="600" onkeyup="clearError();this.classList.remove('error')")
                    .lBoxItem
                        input.lBoxInput#i(type="text" placeholder="Имя" maxlength="600" onkeyup="clearError();this.classList.remove('error')")
                    .lBoxItem
                        .lBoxInput#lDepartBox(onclick="document.getElementById('lDepartWr').classList.remove('hidden')" onkeyup="")
                            #lDepartTitle
                                span#lDepartTitlePlaceholeder Подразделение
                            #lDepartIcon
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.7" d="M1 1L6.29289 6.29289C6.68342 6.68342 7.31658 6.68342 7.70711 6.29289L13 1" stroke="#555555" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                            #lDepartWr.hidden
                    .lBoxItem
                        input.lBoxInput#code(type="text" placeholder="Код" maxlength="600" onkeyup="clearError();this.classList.remove('error')")
                    .lBoxItem
                        #lBoxISubmit(onclick="login(this)")
                            .lBoxISubmitTitle Войти
                            .lBoxISubmitLoader
                                <svg class="spinner" viewBox="0 0 50 50">
                                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                </svg>
                    #BoxError.hidden
                include elems/support

    script.

        (async ()=> {
            const depatments=(await axios.get("https://front.sber.link/vcbr/depatments2")).data;
           // for(let i=0; i<20;i++)
            depatments.forEach(d=>{
                let item= document.createElement("div");
                item.classList.add("departItem");
                item.innerHTML=d.title;
                item.deptId=d.id;
                item.setAttribute("department", d.id)
                item.addEventListener("click",(e)=>{
                    e.preventDefault();
                    e.stopPropagation();
                    let elem = document.getElementById("lDepartTitle");
                    elem.innerHTML=d.title;
                    elem.setAttribute("department",d.id)
                    e.target.parentElement.classList.add('hidden');

                    e.target.parentElement.parentElement.classList.remove('error');
                    clearError();
                    document.getElementById("code").focus();

                })
                document.getElementById("lDepartWr").appendChild(item);

                document.querySelectorAll("input.lBoxInput").forEach(elem=>{
                    elem.addEventListener("keyup",(event)=>{
                        if (event.code === 'Enter') {
                            login(document.getElementById("lBoxISubmit"))
                        }
                    })
                })
                document.getElementById("f").focus();

            })


        })();
        function clearError(){
            var e = document.getElementById('BoxError')
            e.innerHTML = "";
            e.classList.add("hidden")
        }
        const login= async (ctrl)=>{
            const exit = () => {
                setTimeout(() => {
                    ctrl.classList.remove('loading');

                }, 1000)
            }

            const setError=(elem, msg)=>{
                elem.classList.add("error");
                if(elem) elem.focus();

                let e = document.getElementById('BoxError')
                e.innerHTML = msg;
                e.classList.remove("hidden")
            }
            if(ctrl.classList.contains("loading"))
                return;
            ctrl.classList.add('loading');
            document.getElementById("BoxError").classList.add("hidden")
            const arr={
                i:document.getElementById("i"),
                f:document.getElementById("f"),
                code:document.getElementById("code"),
                dep:document.getElementById("lDepartTitle")//.getAttribute("department")
            }
            document.querySelectorAll(".lBoxInput.error").forEach(e=>{e.classList.remove("error")})
            if (!arr.f.value || arr.f.value.length < 2) {
                setError(arr.f, "Ошибка: введите фамилию")


                return exit();
            }
            if(!arr.i.value || arr.i.value.length<2)
            {
                setError(arr.i,"Ошибка: введите имя")
                return exit();
            }
            if (!arr.code.value || arr.code.value.length !=5) {
                setError(arr.code, "Ошибка: некорректный код ")
                return exit();
            }
            let dep = arr.dep.getAttribute("department")
            if (!arr.dep.getAttribute("department")) {
                setError(arr.dep.parentNode, "Ошибка: выберите подразделение")
                return exit();
            }
            let e = document.getElementById('BoxError')
            e.innerHTML = "";
            e.classList.add("hidden");
            try {
                let r = await axios.post("api/login", {
                    f: arr.f.value,
                    i: arr.i.value,
                    code: arr.code.value,
                    dep: dep
                });
                if (r.data.success) {
                    setTimeout(()=>{document.location.reload()},2000)

                }
                else{
                    if(r.data.doubleLogin){
                        document.getElementById("BoxError").innerHTML="Ошибка: Выполнен вход с дугого устройства.<br> Попробуйте через 30 секунд или выйдите с этого сайта на других вкладках браузера."
                    }
                    else {
                        document.getElementById("BoxError").innerHTML="Ошибка: проверьте фамилию, имя и код"
                    }
                    document.querySelectorAll(".lBoxInput.error").forEach(e => {
                        e.classList.remove("error")
                    })
                    document.getElementById("BoxError").classList.remove("hidden");
                    return exit();
                }
            }
            catch(e){
                console.warn(e);
                document.querySelectorAll(".lBoxInput.error").forEach(e=>{e.classList.remove("error")})
                document.getElementById("BoxError").classList.remove("hidden");
                return exit()
            }



        }


