extends layout

block head
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
    .tower#app
        .adminBottom
            .playerRBottom(style="height:100%;")
                .qWr#qBox
                    .qItem(v-if="q.length==0")
                        .qItemText  пока нет вопросов
                    .qItem(v-for="item in q" v-if="q.length>0")
                        .qItemUser {{item.f}} {{item.i}}
                        .qItemDepartment {{item.short}}
                        .qItemText  {{item.text}}
                        .qItemTime {{moment(item.date).format("HH:mm")}}
    script(src="https://front.sber.link/vcbr/javascripts/vue.min.js")
    script(src="https://front.sber.link/vcbr/javascripts/moment.min.js")
    style.
        body{width:1920px;height:1280px;overflow: hidden; background: black;}
        .playerRBottom{background: black;}
        .qItem{
            COLOR: WHITE;
                BACKGROUND: rgba(255, 255, 255, .2);
            padding:20px;
            font-size:40px;
            line-height:50px;
        }
        .qItemUser{
            font-size: 40px;
            line-height: 50px;
        }
        .qItemDepartment{
            font-size: 30px;
            line-height:40px;
        color:white;
        }
        .qItemText{
            font-size:40px;
            line-height: 50px;
            color:white;
            margin-top: 40px;
        }
        .tower{
            width:1800px;
            max-width:1920px
        }

    script.
        var app = new Vue({
            el: "#app",
            data: {
                q: []
            },
            methods: {
                updateStatus: async function () {
                    try {
                        var d = await axios.get("/vcbr/status/");
                       /* var inserted = false;
                        d.data.q.forEach(c => {

                            if (this.q.filter(cc => cc.id == c.id).length == 0) {
                                this.q.push(c);
                                inserted = true;
                            }

                        });
                        this.q.forEach(cc => {
                            if (d.data.q.filter(c => cc.id == c.id).length == 0) {
                                cc.isDeleted = true;
                            }
                        })
                        this.q = this.q.filter(cc => {
                            return !cc.isDeleted
                        });*/
                        this.q = d.data.q.filter(cc => {
                            return cc.isSpk
                        });
                    }
                    catch (e){
                        console.warn(e);
                    }
                    setTimeout(() => {
                        this.updateStatus();
                    }, 20 * 1000)
                }
            },
            mounted: function () {
                this.updateStatus();

            }
        })

