doctype html
<html>
    <head></head>
    <body style="margin: 0;height: 100vh;">
        <div style="background-color: #00BBEE;height: 50%">&nbsp;</div>
        <div style="background-color: #74777B;height: 50%">&nbsp;</div>
    </body>
</html>
